# --- DOCKER CONFIGURATION ---
PROJECT_NAME=how-dair-you

# --- APP CONFIGURATION ---
APP_IMAGE=data-insight-engine

# --- PREFECT CONFIGURATION ---
PREFECT_IMAGE=data-insight-prefect

# --- GRAFANA CONFIGURATION ---
GRAFANA_USER=your_grafana_user_here
GRAFANA_PASSWORD=your_grafana_password_here

# --- DATABASE CONFIGURATION ---
DB_URL=your_database_url_here
DB_USER=your_database_user_here
DB_PASSWORD=your_database_password_here
DB_NAME=your_database_name_here