# --- DOCKER CONFIGURATION ---
PROJECT_NAME=how-dair-you

# --- APP CONFIGURATION ---
APP_IMAGE=data-insight-engine

# --- PREFECT CONFIGURATION ---
PREFECT_IMAGE=data-insight-prefect

# --- GRAFANA CONFIGURATION ---
GRAFANA_USER=your_grafana_user_here
GRAFANA_PASSWORD=your_grafana_password_here

# --- POSTGRES CONFIGURATION ---
POSTGRES_USER=your_postgres_user_here
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_DB=your_postgres_db_here