# --- DOCKER CONFIGURATION ---
PROJECT_NAME=ingestion-service

# --- APP CONFIGURATION ---
APP_IMAGE=data-insight-engine

# --- POSTGRES CONFIGURATION ---
DB_USER=your_postgres_user
DB_PASSWORD=your_postgres_password
DB_NAME=your_postgres_db
DB_URL=postgresql://your_postgres_user:your_postgres_password@postgres:5432/your_postgres_db
DB_BATCH_SIZE=100

# --- PARSING CONFIGURATION ---
PARQUET_BATCH_SIZE=100

# --- SCHEDULER CONFIGURATION ---
DATA_ROOT=/data

# --- MONITORING CONFIGURATION ---
METRICS_PORT=8000

# --- GRAFANA CONFIGURATION ---
GRAFANA_USER=your_grafana_user
GRAFANA_PASSWORD=your_grafana_password

# --- LOGGING CONFIGURATION ---
LOG_LEVEL=INFO          # One of: DEBUG, INFO, WARNING, ERROR, CRITICAL
LOG_FORMAT=console      # One of: console, json